@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="card-img mb-4" src="~/images/discgolfbasket.jpg" />
    <h3>Join us today and compete in tournaments or play for fun with your local disc golf club</h3>
    <a asp-page="./Events" class="btn btn-info">Sign up</a>
</div>
